
body {
    display: flex;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

.accent-image {
    width: 30vw;
    height: 100vh;
}

.information-panel {
    width: 60vw;
    height: 100vh;
}

.form-window {
    background-color: white;
    box-shadow:
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
            margin-left: 1em;
}

.input-row {
    display: flex;
    gap: 3em;
    margin-left: 2em;
}

.input-container {
    display: flex;
    flex-direction: column;
}